html, body{
    background-color: aquamarine;
}
#wrapper{
	width: 800px;
	border: 1px solid black;
	margin: 20px auto;
	background-color: white;
	box-shadow: 0 0 20px 7px black;
    text-align: center;
}       
#imgBox,#imgRoll{
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    margin: 10px auto;
    min-height: 350px;
}